body {
    margin: 0px;
    padding: 0px;
}

#canvas-frame {
    width: 920px;
    height: 620px;
    padding: 0px;
    display: block;
    margin: 10px auto 0px;
    background-color: black;
}

#fps-show {
    position: absolute;

}
